<div class="file-uploader-summary-file">
    <div class="file-uploader-preview-file">
        <a attr="href: $parent.getFilePreview($file)" target="_blank">
            <span class="file-uploader-filename2" text="$file.name"/>
        </a>

        <!-- <div class="actions">
            <button
                type="button"
                class="action-remove"
                data-role="delete-button"
                attr="title: $t('Delete')"
                click="$parent.removeFile.bind($parent, $file)">
                <span translate="'Delete'"/>
            </button>
        </div> -->
    </div>
</div>