<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<p class="checkout-free-delivery-red">Please review before placing order.</p>
<span class="drl-checkout-disclaimer">Click <span class="drl-checkout-disclaimer-cart goBackCart">here</span> to update your order</span>
<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <span data-bind="i18n: 'Summary'" class="title"></span>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
