<?xml version="1.0"?>
<!--
/**
 * PwC India
 *
 * @category Magento
 * @package  Ecomm_VideoList
 * @author   PwC India
 * @license  GNU General Public License ("GPL") v3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="EcommOrderHinListGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="EcommOrderHinGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">Ecomm\OrderHin\Model\ResourceModel\HinData\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">EcommOrderHinListGridFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="Ecomm\OrderHin\Model\ResourceModel\HinData\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">ecomm_sales_order_hin</argument>
			<argument name="resourceModel" xsi:type="string">Ecomm\OrderHin\Model\ResourceModel\HinData</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="orderhin_index_listing_data_source" xsi:type="string">Ecomm\OrderHin\Model\ResourceModel\HinData\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
		<!-- <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="drlvideo_index_form_data_source" xsi:type="string">Ecomm\VideoList\Model\ResourceModel\VideoList\Grid\Collection</item>
			</argument>
		</arguments>
	</type> -->
</config>
