<?xml version="1.0"?>
<!--
/**
 * @category   Ecomm
 * @package    Ecomm_LoggedCount
 * @author     pwc@gmail.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
            <route id="ecomm_loggedcount" frontName="ecomm_loggedcount">
            <module name="Ecomm_LoggedCount" />
        </route>
    </router>
</config>