<?xml version="1.0"?>
<!--
/**
 * PwC India
 *
 * @category Magento
 * @package  Ecomm_VideoList
 * @author   PwC India
 * @license  GNU General Public License ("GPL") v3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Ecomm_OrderHin::orderhin" title="HIN Details" module="Ecomm_OrderHin" sortOrder="22" parent="Ecomm_PriceEngine::priceengine" resource="Ecomm_OrderHin::orderhin" />
        <add id="Ecomm_OrderHin::orderhindetails" title="Order HIN Details" module="Ecomm_OrderHin" sortOrder="0" parent="Ecomm_OrderHin::orderhin" action="orderhin/index/index" resource="Ecomm_OrderHin::orderhindetails" />
    </menu>
</config>