<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="htmltopdf" id="htmltopdf">
            <module name="Ecomm_HtmlToPdf"/>
        </route>
    </router>
</config>