<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecomm_sap_extensions" sortOrder="4000000">
            <label>SAP</label>
        </tab>
        <section id="ecomm_sap" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>ecomm_sap_extensions</tab>
            <resource>Ecomm_Sap::config_sap</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="development_url" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Development URL</label>
                </field>
                <field id="dev_username" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Development Username</label>
                </field>
                <field id="dev_password" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Development Password</label>
                </field>
                <field id="live_url" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live URL</label>
                </field>
                <field id="username" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username</label>
                </field>
                <field id="password" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password</label>
                </field>
                <field id="mode" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>Ecomm\Sap\Model\Config\Source\Mode</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
