<?xml version="1.0"?>
<!-- 
/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.colan.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * PWC does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * PWC does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    PWC
 * @package     Ecomm_Voiceofcustomer
 * @version     1.2
 * @author      PWC Team
 *
 */
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ecomm\Voiceofcustomer\Api\Voiceofcustomer\VoiceofcustomerInterface" type="Ecomm\Voiceofcustomer\Model\Voiceofcustomer"/>
    <preference for="Ecomm\Voiceofcustomer\Api\VoiceofcustomerRepositoryInterface" type="Ecomm\Voiceofcustomer\Model\VoiceofcustomerRepository" />
    <preference for="Ecomm\Voiceofcustomer\Api\Voiceofcustomer\VoiceofcustomerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Ecomm\Voiceofcustomer\Model\ResourceModel\Voiceofcustomer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ecomm_voiceofcustomer_customer</argument>
            <argument name="eventPrefix" xsi:type="string">ecomm_voiceofcustomer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">voiceofcustomer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ecomm\Voiceofcustomer\Model\ResourceModel\Voiceofcustomer</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="entity_listing_data_source1" xsi:type="string">Ecomm\Voiceofcustomer\Model\ResourceModel\Voiceofcustomer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Ecomm\Voiceofcustomer\Controller\Adminhtml\Voiceofcustomer\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 record(s) have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting record(s).</argument>
        </arguments>
    </type>
    <type name="Ecomm\Voiceofcustomer\Controller\Adminhtml\Voiceofcustomer\MassDisable">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 data have been disabled.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while disabling selected data.</argument>
        </arguments>
    </type>
    <type name="Ecomm\Voiceofcustomer\Controller\Adminhtml\Voiceofcustomer\MassEnable">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 data have been enabled.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while enabling data.</argument>
        </arguments>
    </type>
    <virtualType name="Ecomm\Voiceofcustomer\Model\ImageUploader" >
        <arguments>
            <!-- Temporary file stored in pub/media/voiceofcustomer/tmp/profileimg -->
            <argument name="baseTmpPath" xsi:type="string">voiceofcustomer/tmp/profileimg</argument>
            <argument name="basePath" xsi:type="string">voiceofcustomer/profileimg</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ecomm\Voiceofcustomer\Controller\Adminhtml\Voiceofcustomer\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Ecomm\Voiceofcustomer\Model\ImageUploader</argument>
        </arguments>
    </type>
</config>