<?xml version="1.0"?>
<!--
 PwC India
 @category Magento
 @package  Ecomm_GcpIntegration
 @author   PwC India
 @license  GNU General Public License ("GPL") v3.0
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Ecomm_GcpIntegration::gcs" title="Vistex Integration" module="Ecomm_GcpIntegration" sortOrder="8" parent="Ecomm_PriceEngine::priceengine" action="gcs/mendix/index" resource="Ecomm_GcpIntegration::gcs" />
    </menu>
</config>
