<?xml version="1.0"?>
<!--
/**
 * PwC India
 *
 * @category Magento
 * @package  Ecomm_HinCron
 * @author   PwC India
 * @license  GNU General Public License ("GPL") v3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="hin_settings" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Cron Settings</label>
        <resource>Ecomm_HinValidator::hcn</resource>
    	 <group id="configurable_cron" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cron Settings</label>
            <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Frequency</label>
                <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                <backend_model>Ecomm\HinCron\Model\Config\Cronconfig</backend_model>
            </field>
            <field id="time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Start Time</label>
            </field>
    	 </group>
   	</section>
  </system>
</config>

