<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecomm_api_extensions" sortOrder="4000000">
            <label>Mobile APP Settings</label>
        </tab>
        <section id="ecomm_api" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>ecomm_api_extensions</tab>
            <resource>Ecomm_Api::config_api</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="token1" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token 1</label>
                </field>
                <field id="token2" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token 2</label>
                </field>
                <field id="username" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile API Username</label>
                </field>
                <field id="password" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile Api Password</label>
                </field>
                <field id="app_version" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active APP Version</label>
                </field>
                <field id="tc_version" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Terms and Condition Version</label>
                </field>
                <field id="eula_version" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active EULA Version</label>
                </field>
            </group>
        </section>
    </system>
</config>
