<?xml version="1.0"?>
<!--
 * PwC India
 *
 * @category Magento
 * @package  Ecomm_StoreConfig
 * @author   PwC India
 * @license  GNU General Public License ("GPL") v3.0
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ecomm_StoreConfig::drlconsent_config" title="DRL Compliance"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>