<?xml version="1.0"?>
<!--
/**
 * PwC India
 *
 * @category Magento
 * @package  Ecomm_HinCron
 * @author   PwC India
 * @license  GNU General Public License ("GPL") v3.0
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ecomm_HinCron" setup_version="0.1.0">
    </module>
</config>