<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecomm_medpro_extensions" sortOrder="4000000">
            <label>Medpro</label>
        </tab>
        <section id="ecomm_medpro" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>ecomm_medpro_extensions</tab>
            <resource>Ecomm_Register::config_sap</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="client_id" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                </field>
                <field id="status" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Status</label>
                    <source_model>Ecomm\Register\Model\Config\Source\Status</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
